<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col text-center>
        <h3>Image Picker</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <ion-button (click)="getImages()">Choisir Images</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <!-- More Pinterest floating gallery style -->
        <div class="images">
          <div class="one-image" *ngFor="let img of imageResponse">
            <img src="{{img}}" alt="" srcset="">
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col text-center>
        <ion-button (click)="publierImages()">Publier</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

